@import './variables';
@import './mixins';


.section3{
    @include sections();
    width: 25%;
    justify-content: center;
    margin-top: 30px;
   

    article{
        @include article();

        img{
            margin-right: 20px;
            width: 100%;
            height: auto;

            &:hover{
                transform: scale(1,1.1);
                cursor: pointer;
            }
        }
    }

    p{
        @include parrafo();
        width: 250px;
        left: 78%;
        font-size: 20px;

        &:hover{
            color: $black;
        }
    }
}