@import './variables';
@import './mixins';

.section4{
    padding: 20px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;

    article {
        display: flex;
        margin-bottom: 20px;
        
        img{
            display: block;
            margin-right: 20px;
            width: 40%;
            height: auto;

            &:hover{
                transform: scale(1,1.1);
                cursor: pointer;
            }
        }
    }

    a{
        text-decoration: none;
    }

    h4{
        @include h4();
        margin-top: 120px;

        &:hover{
            color: $red;
        }
    }

    p{
        @include p();
        width: 600px;
        margin-top: 30px;

        &:hover{
            color: $red;
        }
    }

    h5{
        @include h5();
        width: 600px;
        margin-top: 150px;
        font-size: 15px;
        color: rgb(70, 67, 67);

    }
}