@import './variables';
@import './mixins';

.section2{
    @include sections();
    width: 50%;
    justify-content: center;
   
    article{
        @include article();

        img{
            @include img();
    
            &:hover{
                transform: scale(1,1.1);
                cursor: pointer;
            }
        }
    }

    p{
        @include parrafo();
        width: 400px;
        left: 35%;
        font-size: 40px;

        &:hover{
            color: $black;
        }
    }

}