main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 3px solid red;
  background-color: black;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

header ul li {
  display: block;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding-left: 30px;
  font-weight: bold;
}

header ul li a {
  text-decoration: none;
  color: white;
}

header ul li a:hover {
  color: red;
}

.section1 {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 25%;
  margin-top: 30px;
}

.section1 article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.section1 article img {
  margin-right: 20px;
  width: 100%;
  height: auto;
}

.section1 article img:hover {
  -webkit-transform: scale(1, 1.1);
          transform: scale(1, 1.1);
  cursor: pointer;
}

.section1 p {
  position: absolute;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 250px;
  left: 3%;
  font-size: 20px;
}

.section1 p:hover {
  color: black;
}

.section2 {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section2 article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.section2 article img {
  margin-right: 20px;
  width: 100%;
  height: auto;
}

.section2 article img:hover {
  -webkit-transform: scale(1, 1.1);
          transform: scale(1, 1.1);
  cursor: pointer;
}

.section2 p {
  position: absolute;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 400px;
  left: 35%;
  font-size: 40px;
}

.section2 p:hover {
  color: black;
}

.section3 {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 25%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.section3 article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.section3 article img {
  margin-right: 20px;
  width: 100%;
  height: auto;
}

.section3 article img:hover {
  -webkit-transform: scale(1, 1.1);
          transform: scale(1, 1.1);
  cursor: pointer;
}

.section3 p {
  position: absolute;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 250px;
  left: 78%;
  font-size: 20px;
}

.section3 p:hover {
  color: black;
}

.section4 {
  padding: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.section4 article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.section4 article img {
  display: block;
  margin-right: 20px;
  width: 40%;
  height: auto;
}

.section4 article img:hover {
  -webkit-transform: scale(1, 1.1);
          transform: scale(1, 1.1);
  cursor: pointer;
}

.section4 a {
  text-decoration: none;
}

.section4 h4 {
  position: absolute;
  font-style: oblique;
  font-weight: bold;
  text-decoration: none;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-top: 120px;
}

.section4 h4:hover {
  color: red;
}

.section4 p {
  position: absolute;
  text-align: justify;
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  width: 600px;
  margin-top: 30px;
}

.section4 p:hover {
  color: red;
}

.section4 h5 {
  color: #2a2a2a;
  position: relative;
  font-family: sans-serif;
  width: 600px;
  margin-top: 150px;
  font-size: 15px;
  color: #464343;
}

.section5 {
  padding: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.section5 div {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section5 div img {
  display: block;
  margin-right: 20px;
  width: 50%;
  height: auto;
}

.section5 div img:hover {
  -webkit-transform: scale(1, 1.1);
          transform: scale(1, 1.1);
  cursor: pointer;
}

.section5 a {
  text-decoration: none;
}

.section5 a h4 {
  color: red;
  font-family: serif;
  font-size: 12px;
}

.section5 a h4:hover {
  color: black;
}

.section5 a p {
  width: auto;
  color: black;
  font-size: 25px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.section5 a p:hover {
  color: red;
}

.section6 {
  padding: 20px;
  width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  background-color: #2c2c2c;
  -ms-flex-line-pack: center;
      align-content: center;
}

.section6 article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px;
}

.section6 article img {
  width: auto;
  height: 40px;
  margin-left: 80px;
}

.section6 article h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  height: 20px;
  width: 300px;
}

.section6 article p {
  position: absolute;
  color: #747474;
  margin-top: 60px;
  width: 300px;
  left: 100px;
}

.section6 article ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin-bottom: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50px;
  margin-left: 80px;
  color: #747474;
}

.section6 article ul li {
  padding: 5px;
}

.section6 article ul li:hover {
  margin-left: 8px;
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  margin-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 100px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
  background-color: #242424;
}

footer p {
  font-family: serif;
  font-size: 12px;
  color: #747474;
  width: 100%;
  text-align: center;
}
/*# sourceMappingURL=tecnologia.css.map */