$color_fondo:rgb(212, 205, 205);
$ancho: 100%;
$alto: 450px;
$fondo_barra: rgb(198, 238, 245);
$white:white;
$gray: gray;
$red:red;
$black:black;
$color_titulos: #0a4b4e;
$font: 'arial', 'time new roman', 'sans-serif';
$padding:110px;
$font_size: 40px;
$bordes: 2px solid gray;