@import './variables';
*{
    box-sizing: border-box;
    margin: 0 auto;
}

body{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}




//Mixins//
@mixin screen {
    display: flex;
    margin: 20px;
    
}

//Estilos cuando sea una pantalla de mas de 800px//
@media screen and (min-width:$vp) {
    .caja1, .caja2{
        @include screen();;
        flex-direction: row;
        width: $caja;
        height: $caja;
        background: $fondo_cajas;
        
    }
}
//Estilos cuando sea una pantalla menos de 800px//
@media  screen and (max-width:$vp) {

    .caja1, .caja2{
        @include screen();
        flex-direction: column;
        width: $caja+200px;
        height: $caja+200px;
        background: $fondo_cajas1;
        
    }
    
}
