$color_fondo:#141414;
$font:  Arial, Helvetica, sans-serif;
$color_text:rgb(59, 31, 59);
$fondo_barra:#363333;
$bordes: 2px solid #b7b7b7;
$color_titulos: white;
$font:Arial, Helvetica, sans-serif;
$color_caja: black;
$color_parrafo: #8c8c8c;